$primaryFont: 'Sansita', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$hspace: 1rem;
$vspace: .75rem;

/////////////////
// COLORS
/////////////////

// $dolphin: #6a6675; // main bg
// $moonRaker: #c7d4f4; // content bg (placeholder)
// $brownDerby: #4d3118; // borders
// $schooner: #8b847d; // backgrounds
// $kabul: #5d4a46;


$azure: #009FFF; // main bg
$funGreen: #00833d; // content bg (placeholder)
$teal: #00887c; // borders
$atlantis: #93BD2C; // backgrounds
$turbo: #edde05; // yellow

$fonts: #333;
