$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Sansita', sans-serif;
$hspace: 1rem;
$vspace: .75rem;

/////////////////
// COLORS
/////////////////

$dolphin: #6a6675; // main bg
$moonRaker: #c7d4f4; // content bg (placeholder)
$brownDerby: #4d3118; // borders
$schooner: #8b847d; // backgrounds
$kabul: #5d4a46;
