
$tablet-width: 500px;
$desktop-width: 730px;
@mixin tablet {
     @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}
@mixin desktop {
     @media (min-width: #{$desktop-width}){
        @content;
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background: #ececec;
    font-size: 16px;
    line-height: 1.6;
}


.container {
    padding: 0 25px;

    aside {
        @include tablet() {
            float: none;
            display: block;
            width: 100%;
            transition: width 0.25s ease-in-out;
        }
        @include desktop() {
            float: left;
            margin-right: 15px;
            min-width: 150px;
            width: 30%;
        }
    }

    #search-field,
    input[type='submit'] {
        display: block;
        margin: 10px auto;
        width: 100%;

        &[type=text] {
            margin-top: 0;
        }
    }

    input {
        border: 1px solid #999;
        color: #333;
        padding: 10px;

        &[type='submit'] {
            border: 1px solid #333;
            background: #FF5331;
            padding: 6px;
            transition: background 0.25s ease-in-out;

            &:hover {
                background: lighten(#FF5331, 3%);
            }
        }
    }
}
