//font-family: 'Sansita', sans-serif;
//font-family: 'Roboto', sans-serif;
//

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700|Sansita:400,700');

* {
  font-size: 16px;
}

p {
  color: $fonts;
  font-family: $secondaryFont;
  font-size: 16px;
  margin: 5px auto;
  width: 100%;
}

h1, h2, h3 {
  color: #333;
}

h1 {
    font-family: $primaryFont;
    font-size: 30px;
    width: 100%;
}

h2 {
    font-family: $primaryFont;
    font-size: 24px;
    margin: 0 0 5px;
    width: 100%;
}

h3 {
    font-family: $primaryFont;
    font-size: 18px;
    margin: 0 0 5px;
    width: 100%;
}
